<?php
if ($tpview == 'table') {
    $cor = 'even';
    foreach ($retorno as $atividadesauxiliar):
        ?>
        <tr class="<?= $cor ?> pointer">
            <td class=" "><?= h($atividadesauxiliar->atividadesauxiliare->descricao) ?></td>
            <td  class=" last">
                <div class="btn-group">
                    <a class="btn btn-danger btn-xs" href='#' onclick='deleteAtividadeRelation(<?= $atividadesauxiliar->id ?>);'>Excluir</a>
                </div>
            </td>
        </tr>
        <?php
        $cor = $cor == 'even' ? 'odd' : 'even';
    endforeach;
}else if ($tpview == 'list') {
//    $retorno;
}
?>